#cta-habitat {

    a {
        background-color: $color-light;
        border: $color-light;
        color: $color-secondary;
        font-size: 1.4rem;
        font-weight: 500;
        padding: 1rem;
    
        &:hover {
            background-color: $color-secondary;
            border: $color-light solid 1px;
            color: $color-light;
        }
    }

}

body {
    .btn-accent {
        @include btnAccent;
    }
}