* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem=10px */
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; /* 16px */
}
body h1 {
  font-size: 5rem;
  color: hsl(214, 71%, 24%);
  font-family: "Asap", sans-serif;
  font-weight: 700;
}
body h2 {
  font-family: "Asap", sans-serif;
  font-weight: 700;
  color: hsl(167, 100%, 15%);
  font-size: 3.5rem;
}
body h3 {
  font-size: 2rem;
  font-family: "Asap", sans-serif;
  font-weight: 700;
}
body .breadcrumb-item a {
  color: hsl(23, 100%, 24%);
}

header {
  background: hsl(167, 100%, 15%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem; /* 16px */
}
header .logo img {
  width: 170px;
}
header nav a {
  color: hsl(0, 0%, 97%) !important;
  position: relative;
}
header nav a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: hsl(0, 0%, 97%);
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
header nav a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
header .custom-toggler {
  border-color: hsl(0, 0%, 97%);
  color: hsl(0, 0%, 97%);
  font-size: 40px;
}

footer {
  background: hsl(167, 100%, 15%);
  color: hsl(0, 0%, 97%);
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; /* 14px */
  position: absolute;
  width: 100%;
}
footer a {
  color: hsl(0, 0%, 97%);
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.animal-card {
  position: relative;
}
.animal-card h3 {
  font-size: 3.5rem;
  color: hsl(0, 0%, 97%);
  position: absolute;
  top: 80%;
  left: 5%;
}
.animal-card i {
  font-size: 3.5rem;
  color: hsl(0, 0%, 97%);
  position: absolute;
  top: 78%;
  right: 5%;
}
.animal-card i:hover {
  scale: 1.2;
  transition: all 0.3s;
}

#cta-habitat a {
  background-color: hsl(0, 0%, 97%);
  border: hsl(0, 0%, 97%);
  color: hsl(214, 71%, 24%);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 1rem;
}
#cta-habitat a:hover {
  background-color: hsl(214, 71%, 24%);
  border: hsl(0, 0%, 97%) solid 1px;
  color: hsl(0, 0%, 97%);
}

body .btn-accent {
  background-color: hsl(23, 100%, 24%);
  border: hsl(23, 100%, 24%);
  color: hsl(0, 0%, 97%);
  padding: 1rem;
}
body .btn-accent:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#hero {
  background: url("../images/zebres.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#hero h1 {
  color: hsl(0, 0%, 97%);
}

#additionnalinfo .card-info {
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1);
}
#additionnalinfo .arcadiainfo1 a {
  color: hsl(214, 71%, 24%);
  text-decoration: none;
}
#additionnalinfo .arcadiainfo1 a:hover {
  text-decoration: underline;
}
#additionnalinfo .arcadiainfo1 p {
  font-size: 1.8rem;
}
#additionnalinfo .arcadiainfo1 .today {
  color: hsl(23, 100%, 24%);
}
#additionnalinfo .arcadiainfo2 .btn {
  background-color: hsl(23, 100%, 24%);
  border: hsl(23, 100%, 24%);
  color: hsl(0, 0%, 97%);
  padding: 1rem;
}
#additionnalinfo .arcadiainfo2 .btn:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#inconsinfos {
  background-color: hsl(213, 23%, 92%);
}
#inconsinfos h3 {
  color: hsl(214, 71%, 24%);
}
#inconsinfos p {
  color: hsl(214, 71%, 24%);
}

#services .card-service {
  background-color: hsl(214, 71%, 24%);
}
#services .card-service .card-content {
  color: white;
}
#services .card-service .card-content a {
  color: white;
}
#services .card-service .card-content a:hover {
  text-decoration: none;
}

#advice .card-advice {
  background-color: hsl(213, 23%, 92%);
  color: hsl(214, 71%, 24%);
}
#advice .card-advice i {
  font-size: 2rem;
}

#newsletter {
  background-color: hsl(171, 16%, 92%);
  color: hsl(167, 100%, 15%);
}
#newsletter .btn {
  background-color: hsl(23, 100%, 24%);
  border: hsl(23, 100%, 24%);
  color: hsl(0, 0%, 97%);
  padding: 1rem;
}
#newsletter .btn:hover {
  scale: 1.1;
  transition: all 0.3s;
}

#jumbotron {
  background: hsl(213, 23%, 92%);
}
#jumbotron p {
  color: hsl(214, 71%, 24%);
}

#cta-habitat .content-cta {
  background-color: hsl(214, 71%, 24%);
}
#cta-habitat h2 {
  color: hsl(0, 0%, 97%);
}/*# sourceMappingURL=app.css.map */