#jumbotron {
    background: $color-bg-secondary;

    p {
        color: $color-secondary;
    }
}

// Habitats
#cta-habitat {
    .content-cta {
        background-color: $color-secondary;
    }

    h2 {
        color: $color-light;
    }
}