{% extends 'base.html.twig' %}

{% block title %}Les animaux du parc{% endblock %}

{% block body %}
<!-- Jumbotron -->
<section id="jumbotron">
    <div class="p-5">
        <div class="container py-5">
          <h1>Les animaux du parc Arcadia</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron">
              <li class="breadcrumb-item">
                <a href="/"><i class="bi bi-house-door-fill"></i></a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Les animaux</li>
            </ol>
          </nav>
        </div>
    </div>
</section>

<!-- Habitats -->
<section id="habitats" class="py-5 my-5">
    <div class="container">
        <div class="pb-3">
            <h2>Voyagez à travers nos habitats et rencontrez leurs animaux fascinants !</h2>
            <p>
                Embarquez pour un périple extraordinaire à la découverte des habitats les plus spectaculaires de notre planète ! 
                Notre page dédiée aux habitats vous invite à explorer des environnements uniques, peuplés d'une faune et d'une flore riches et variées.
            </p>
            <p>
                <strong>Découvrez les animaux emblématiques de chaque habitat</strong> et apprenez à comprendre leurs adaptations incroyables à leur environnement. 
                <strong>Sensibilisez-vous aux enjeux de la conservation</strong> de ces écosystèmes fragiles et participez à leur protection.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/elephants.png')}}" alt="elephants" class="img-fluid w-100">
                    <div class="content-habitat">
                        <h3 class="">Savane</h3>
                        <a href="/la-savane"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/perroquets.png')}}" alt="perroquets" class="img-fluid w-100">
                    <div class="content-habitat d-flex justify-content-between align-items-center">
                        <h3>Jungle</h3>
                        <a href="/la-jungle"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/crocodiles.png')}}" alt="crocodiles" class="img-fluid w-100">
                    <div class="content-habitat d-flex justify-content-between align-items-center">
                        <h3>Marais</h3>
                        <a href="/le-marais"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
