{% extends 'base.html.twig' %}

{% block title %}Les animaux de la Savane{% endblock %}

{% block body %}
<!-- Jumbotron -->
<section id="jumbotron">
    <div class="p-5">
        <div class="container py-5">
          <h1>Les animaux de la Savane</h1>
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb breadcrumb-chevron">
              <li class="breadcrumb-item">
                <a href="/"><i class="bi bi-house-door-fill"></i></a>
              </li>
              <li class="breadcrumb-item">
                <a class=" text-decoration-none" href="/les-animaux">Les animaux</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">La savane</li>
            </ol>
          </nav>
        </div>
    </div>
</section>

<!-- Introduction Habitat -->
<section id="intro-habitat" class="py-5 my-5">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="intro-habitat">
                    <h2>Embarquez à la découverte des merveilles de la savane !</h2>
                    <p>
                        Aventurez-vous dans les vastes étendues de la savane et émerveillez-vous devant la richesse de sa faune ! 
                        Notre page dédiée aux animaux de la savane vous transporte au cœur de cet écosystème fascinant, où règnent 
                        <strong>lions, girafes, zèbres, éléphants</strong> et bien d'autres créatures spectaculaires.
                    </p>
                    <p>
                        Partez à la rencontre des herbivores paisibles qui broutent paisiblement dans les plaines herbeuses, 
                        et des redoutables carnivores qui règnent sur les <strong>territoires sauvages</strong>. Observez les interactions complexes 
                        entre les différentes espèces et découvrez les adaptations incroyables qui leur permettent de survivre dans cet environnement parfois hostile.
                    </p>
                    <p>
                        Créez des souvenirs inoubliables en observant les animaux de la savane dans leur habitat naturel et en partageant des moments uniques avec vos proches.
                    </p>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-12">
                <img src="{{asset('images/savane.jpg')}}" alt="savane" class="img-fluid w-100 rounded">
            </div>
        </div>
    </div>
</section>

<!-- Animals -->
<section id="habitats" class="py-5 my-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/lion.jpg')}}" alt="lion" class="img-fluid w-100">
                    <div class="content-habitat">
                        <h3>Simba</h3>
                        <a href="#"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/lion.jpg')}}" alt="lion" class="img-fluid w-100">
                    <div class="content-habitat">
                        <h3>Simba</h3>
                        <a href="#"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>  
            <div class="col-lg-4 col-md-6 col-12">
                <div class="animal-card mb-2">
                    <img src="{{asset('images/lion.jpg')}}" alt="lion" class="img-fluid w-100">
                    <div class="content-habitat">
                        <h3>Simba</h3>
                    <a href="#"><i class="bi bi-arrow-right-square-fill"></i></a>
                    </div>
                </div>
            </div>  
            
        </div>
    </div>
</section>

<!-- CTA Habitat -->
<section id="cta-habitat" class="py-5">
    <div class="container">
        <div class="content-cta rounded py-5 my-5">
            <h2 class="text-center pt-5 pb-3">Découvrez les autres habitats du zoo Arcadia</h2>
            <div class="button-cta d-flex justify-content-center pb-5">
                <a href="#" class="btn btn-lg me-4">Les animaux de la jungle</a>
                <a href="#" class="btn btn-lg">Les animaux du marais</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}