<h3>Nouveau message recu en provenance du site Arcadia</h3>

<p>
    <strong>Prénom</strong> : {{data.firstname}}<br>
    <strong>Nom</strong> : {{data.lastname}}<br>
    <strong>E-mail</strong> : {{data.email}}
</p>

<p>
<strong>Message</strong> :<br>
{{data.message | nl2br}}
</p>