header {
    background: $color-primary;
    font-family: $font-family-text;
    font-size: 1.6rem; /* 16px */

    .logo img{
        width: 170px;
    }

    nav a{
        color: $color-light !important;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $color-light;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
          
        &:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    .custom-toggler {
        border-color: $color-light;
        color: $color-light;
        font-size: 40px;
    }
}